@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-background: rgba(40, 40, 39, 0.45);
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --box-shadow: 0 1% 45% 0.06;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

*,
a {
  -webkit-tap-highlight-color: transparent !important;
}

body {
  background: #1b1b1b !important;
}

.news__card {
  transition: all 0.3s ease-in-out;
}

.news__card img {
  transition: all 0.3s ease-in-out;
}

.news__card:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.pricing-table-container table .gold {
  background-color: #ffcc29;
  color: #363636;
}
.pricing-table-container table tr td:first-child {
  border-left: 0;
}
.pricing-table-container table tr td:last-child {
  border-right: 0;
}

.pricing-table-container table tr :first-child {
  border-left: 0 !important;
}
.pricing-table-container table td {
  border: 1px solid #363636;
  padding: 1.5rem 0.5rem 1.5rem 30px;
}
.pricing-table-container table tr {
  white-space: nowrap;
}

.pricing-table-container table tr:last-child td {
  border-bottom: 0;
}

.pricing-table-container table th.gold {
  border-top: 0 !important;
  border-bottom: 0 !important;
}
.pricing-table-container table td.gold {
  border: 0 !important;
}

.pricing-table-container table tr:first-child th {
  border-top: 0;
}
.pricing-table-container table tr th:last-child {
  border-right: 0;
}

.pricing-table-container table th {
  border: 1px solid #363636;
  /* color: #161617; */
  font-weight: 600;
  padding: 1.4rem 1.4rem 1.4rem 30px;
}

/* .label-floating input,
.label-floating label,
.label-floating textarea,
.label-floating select {
  padding-top: 1.4rem;
}

.label-floating input:not(:placeholder-shown),
.label-floating textarea:not(:placeholder-shown) {
  padding-top: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.label-floating input:not(:placeholder-shown) ~ label,
.label-floating textarea:not(:placeholder-shown) ~ label,
.label-floating select ~ label {
  padding-top: 0.25rem;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  color: gray;
} */

.label-floating input:not(:placeholder-shown) {
  padding-top: 1.4rem;
}
.label-floating input:not(:placeholder-shown) ~ label {
  font-size: 0.6rem;
  transition: all 0.2s ease-in-out;
  color: #1f9d55;
}
